<div class="container">
	<h1>Users</h1>

	<div class="pure-u-1-5">
		
	</div>
	
	<div class="pure-u-1-5">
		

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
				</tr>
			</thead>

			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.name %></td>
						<td><%= user.email %></td>
					</tr>					
				<% end -%>
			</tbody>
		</table>		
	</div>

	<div class="pure-u-1-5">
		
	</div>

	
</div>
