// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	/* background-image: url("Taking-Notes.jpg"); */
}

.home_page{
	background: url("Taking-Notes.jpg") no-repeat center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 585px;
}

.arrow_down{
	font-size: 50px;
    float: center;
    padding-top: 6%;
}

.about {
	height: 300px;
}

.contact {
	height: 300px;
}

.sign_up_on_home {
	padding-top: 50px;
	padding-left: 400px;
}

.jumbotron {
	background-color: blue;
}